@import "@/assets/scss/variable.scss";

// media queries

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
	// .deatils-section {
	// 	.banner-image {
	// 		.banner-title {
	// 			font-size: $font-48;
	// 		}
	// 	}
	// }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 414px to 736px
    */
@media (min-width: 414px) and (max-width: 736px) {
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    */
@media (min-width: 320px) and (max-width: 480px) {
	.header-section {
		.header-logo {
			height: 45px;
		}
		.navbar {
			// .navbar-nav {
			// 	margin-left: auto !important;
			// }
			padding: 0px;
			.nav-link {
				padding: 10px;
			}
			.link-section {
				border-right: none;
			}
		}
	}
}

//landscape
@media only screen and (orientation: landscape) and (max-width: 768px) {
}
