// Imports //

@import "@/assets/scss/font.scss";

// Colour Variables //

$black: #000000 !default;
$white: #fff !default;
$dark-blue: #3498db !default;
$red: #ff3846 !default;
$yellow: #f7941e !default;
$light-yellow: #fefde1 !default;
$purple: #52298e !default;
// Font Size Variables //
$font-10: 0.6rem;
$font-11: 0.75rem;
$font-12: 0.8rem;
$font-14: 0.9rem;
$font-16: 1.06rem;
$font-18: 1.2rem;
$font-20: 1.33rem;
$font-22: 1.4rem;
$font-24: 1.6rem;
$font-26: 1.7rem;
$font-28: 1.8rem;
$font-30: 2rem;
$font-32: 2.2rem;
$font-34: 2.4rem;
$font-36: 2.6rem;
$font-38: 2.8rem;
$font-40: 3rem;
$font-42: 3.2rem;
$font-44: 3.4rem;
$font-46: 3.9rem;
$font-48: 3rem;
$font-50: 4.4rem;
$font-60: 3.75rem;
$font-80: 5rem;

// FONT FAMILY

$OpenSans-Bold: "OpenSans-Bold,sans-serif";
$OpenSans-Italic: "OpenSans-Italic,sans-serif";
$OpenSans-Regular: "OpenSans-Regular,sans-serif";
$Lato-Regular: "Lato-Regular";
$Lato-Italic: "Lato-Italic";
$Lato-Bold: "Lato-Bold";
$Countryside-Personal-Use: "Countryside Personal Use";
$flashback-Demo: "flashback Demo";
